In [1]:
 %run create_tables.py

DROP TABLE IF EXISTS staging_events
DROP TABLE IF EXISTS staging_songs
DROP TABLE IF EXISTS songplays
DROP TABLE IF EXISTS users
DROP TABLE IF EXISTS songs
DROP TABLE IF EXISTS artists
DROP TABLE IF EXISTS time

CREATE TABLE staging_events
(
    artist VARCHAR,
    auth VARCHAR,
    firstName VARCHAR,
    gender VARCHAR,
    itemInSession integer,
    lastName VARCHAR,
    length FLOAT,
    level VARCHAR,
    location VARCHAR,
    method VARCHAR,
    page VARCHAR,
    registration DOUBLE PRECISION,
    sessionId INTEGER,
    song VARCHAR,
    status INTEGER,
    ts BIGINT,
    userAgent VARCHAR,
    userId INTEGER
)


CREATE TABLE staging_songs
(
    num_songs INTEGER,
    artist_id VARCHAR,
    artist_latitude DOUBLE PRECISION,
    artist_longitude DOUBLE PRECISION,
    artist_location VARCHAR,
    artist_name VARCHAR,
    song_id VARCHAR,
    title VARCHAR,
    duration FLOAT,
    year INTEGER
)


    CREATE TABLE  IF NOT EXISTS users (
        user_id    INTEGER    NOT NULL  PRIMARY KEY,
        first_name VARCHAR NOT NULL,
        last_name VARCHAR,
        gender VARCHAR,
        level VARCHAR
    );


    CREATE TABLE artists (
    artist_id VARCHAR PRIMARY KEY NOT NULL,
    name VARCHAR NOT NULL,
    location VARCHAR,
    latitude decimal,
    longitude decimal
    )


    CREATE TABLE songs (
        song_id VARCHAR PRIMARY KEY NOT NULL,
        title VARCHAR NOT NULL,
        artist_id VARCHAR NOT NULL REFERENCES artists (artist_id),
        year INT,
        duration decimal
    );


    CREATE TABLE  time (
        start_time TIMESTAMP PRIMARY KEY NOT NULL,
        hour INT,
        day INT,
        week INT,
        month INT,
        year INT,
        weekday INT
    )


CREATE TABLE songplays
(
    song_play_id BIGINT IDENTITY(1, 1) PRIMARY KEY NOT NULL,
    start_time TIMESTAMP NOT NULL REFERENCES time (start_time),
    user_id BIGINT NOT NULL  REFERENCES users (user_id),
    level VARCHAR,
    song_id VARCHAR REFERENCES songs (song_id),
    artist_id VARCHAR REFERENCES artists (artist_id),
    session_id INT,
    location VARCHAR,
    user_agent VARCHAR
)

FIM

In [2]:
%run etl.py

In [4]:
%load_ext sql

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format('dwhuser', 'Passw0rd', 
                                                     'dwhcluster.cwwlmrbd6tya.us-west-2.redshift.amazonaws.com', 5439,'dwh')
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cwwlmrbd6tya.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [6]:
%sql select * from stl_load_errors

 * postgresql://dwhuser:***@dwhcluster.cwwlmrbd6tya.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]